.game {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 300px;
    margin: auto;
    padding: 1rem;
    font-family: Arial, sans-serif;
    border: 1px solid #000000;
    border-radius: 5px;
}

.restart-button {
    font-size: 24px;
    margin-bottom: 1rem;
}

.game-info {
    margin-bottom: 1rem;
    font-size: 24px;
}

.game-board {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 1rem;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: 2rem;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.cell-winner {
    background-color: #F6FBE4;
}

.symbol {
    font-size: 2rem;
}

.symbol-x {
    color: #f00;
}

.symbol-o {
    color: #00f;
}